@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
    --body-background: hsl(217, 54%, 11%);
    --card-background: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--body-background);
    font-family: Outfit, sans-serif;
    color: hsla(215, 52%, 70%, 0.534);
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card{
    height:450px;
    background: var(--card-background);
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 95%;
    border-radius: 15px;
    padding: 15px 20px 20px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.308);
}

.card__img{
    border-radius: 15px;
    width: 100%;
    margin: 0 auto;
    height: 250px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.card__img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card__icon-eye{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    display: flex;
    transition: all 0.8s;
    justify-content: center;
    align-items: center;

}

.card__icon-eye:hover{
    background: hsla(178, 100%, 50%, 0.561);
    opacity: 1;
}


.card__title{
    width: 100%;
    color: white;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.2s;
}

.card__title:hover{
    cursor: pointer;
    color: cyan;
}

.card__description{
    font-size: 14px;
    font-weight: 400;
}

.ethereum{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    font-weight: 300;
}


.ethereum__icon-eth, .ethereum__icon-clock{
    padding-right: 5px;
}

.ethereum__price{
    display: flex;
    align-items: center;
    color: hsl(178, 100%, 50%);
}

.ethereum__date{
    display: flex;
    align-items: center;
}


.line{
    border-bottom: 1px solid var(--line);
    width: 100%;
    display: flex;
}

.creator{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 12px;
}

.creator__avatar{
    height: 25px;
    border: 1px solid white;
    border-radius: 100px;
}

.creator__paragraph{
    padding-left: 12px;
}

.creator__name{
    color: white;
    font-weight: 300;
    transition: all 0.2s;
}

.creator__name:hover{
    cursor: pointer;
    color: cyan;
}

.atribution {
    color: hsl(220, 15%, 55%);
    font-family: Outfit, sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: 25px;
}

.atribution__pc{
    color: hsla(215, 52%, 70%, 0.705);
}

.atribution__mobile{
    display: none;
}

a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

a:hover{
    color: hsl(180, 100%, 50%);
}

@media screen and (max-width: 375px) {
    .atribution__pc{
        display: none;
    }

    .atribution__mobile{
        display: block;
    }
}